@charset "utf-8";
@import "bourbon/bourbon";
@import "bootstrap/dist/css/bootstrap";
@import "fluidbox/dist/css/fluidbox.min";

.navbar-no-margin {
  margin-bottom: 0;
}

.jumbotron {
  background-color: white;
  border-bottom: 1px solid #eee;
}

.jumbotron-omega {
  border-bottom: 0px;
}

footer.footer-main {
  border-top: 1px solid #eee;
  padding: 20px 0px;
}

// Article Styles
body.article header {
  height: 500px;
  @include background-image(linear-gradient(to bottom, rgba(0, 0, 0, 0.35), transparent 60%), url("/images/articles/headers/argan-oil.jpg"));
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 96px;

  .navbar-article {
    background-color: transparent;
    background: transparent;
    border-color: transparent;

    .navbar-right {
      float: right !important; // Turn off responsive
    }

    .navbar-header {
      float: left !important;
    }

    ul.navbar-nav {
      padding: 0px;
    }

    li.nav-pin {
      padding-top: 13px;
      padding-right: 13px;
    }

    .navbar li a {
      color: hsla(0, 0, 90, 1);
    }

    .navbar-brand {
      color: white;
      font-weight: bold;
      &:visited {
        color: white;
      }

    }

  }

  h1 {
    color: white;
    position: relative;
    bottom: -150px;
    background-color: black;
    padding: 20px;
    display: inline-block;
  }
}

.navbar-subnav {
  display: none;
}

.headhesive {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @include transition(all 0.5s ease-in-out);
  @include transform(translateY(-100%));
}

.headhesive--stick {
  @include transform(translateY(0%));
}

section.article-content {
  h2 {
    margin-top: 64px !important;
    margin-bottom: 16px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.8);
  }

  h3 {
    margin-top: 48px;
    margin-bottom: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
  }

  small {
    display: inline-block;
    font-size: 15px;
    line-height: 1.3 !important;
    color: rgba(0, 0, 0, 0.3);
  }

  p {
    font-size: 18px;
    line-height: 31.5px;
    margin-bottom: 32px;
    color: rgba(0, 0, 0, 0.7);
  }

  ul {
    margin: 0;
    padding: 20px;
  }

  li {
    margin-left: 0;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    line-height: 31.5px;

  }

  p:first-child
 {
   &:first-letter {
      font-family: "Arial Black", Gadget, sans-serif;
      float: left;
      font-size: 60px;
      line-height: 60px;
      padding-top: 1px;
      padding-right: 8px;
      padding-left: 3px;
    }

    &:first-line {
      color: rgb(131, 170, 32);
      font-weight: bolder;
    }
  }
}

section.article-content {
  .container {
    @media (min-width: 620px) {
      width: 620px;
    }
  }
}

.callout {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  .pin-it-callout {
    @media (min-width: 750px) {
      float: left;
      position: relative;
      margin-left: -75px;
      margin-top: 22px;
    }
    @media (max-width: 750px) {
      float: right;
      position: relative;
      top: 20px;
    }
  }

  h3 {
    font-weight: 400 !important;
    color: rgba(0, 0, 0, 0.6);
    font-size: 30px;
    margin-bottom: 2px !important;
    margin-top: 16px !important;
  }

  p {
    a {
      font-weight: 400;
      color: darken(rgb(131, 170, 32), 15) !important;
    }
    a:hover {
      color: rgb(131, 170, 32) !important;
      text-decoration: none;
    }
    font-size: 30px !important;
    line-height: 45px !important;
    color: rgb(131, 170, 32) !important;
    font-weight: 200 !important;
  }
}

img.wrap-right {
  @media (min-width: 1020px) {
    float: left;
    margin-top: 68px;
    margin-right: 32px;
    margin-left: -35%;
  }
  @media (max-width: 1020px) {
    margin-top: 48px;
    width: 100%;
  }
}

.chartPanel {
  clear: both;
  padding-top: 16px;

  .chart {
    float: left;
    width: 446px;
    margin-bottom: 32px;
  }

  #chartLegend {
    float: right;
    width: 138px;
    height: 310px;
    margin-bottom: 32px;
    ul li {
      list-style: none;
      font-size: 16px;
      margin-bottom: 0px;
    }
    ul li span {
      width: 20px;
      height: 20px;
      display: inline-block;
      border-radius: 5px;
      margin-right: 8px;
      vertical-align: middle;
    }
  }
}
