---
title: sk채bu - about us
---

.container
  %br
  %ol.breadcrumb
    %li
      = link_to 'Home', '/index.html'
    %li.active About Us

  %article
    %header
      %h1
        About Us
        %small Unrelenting Standards. Uniquely Natural.
    %section
      %h3 The Pursuit of Quality
      %p.lead Scan any grocery store and you'll see hundreds of health care brands. Most (if not all) will use a wide array of parabens, sulfates, petroleum, silicone, and artificial fragrances to create a favorable product. Sk채bu is different. We achieve better results without using any harmful chemicals to artificially create shine, volume or moisture.

      %p.lead Why does that matter?

      %p.lead Because our results are real without hurting your health. Over time, your hair, scalp and body won't experience  irritations, hair loss, estrogen disruption, and cancer. We replenish moisture with organic essential oils, not a chemical substitute that has harmful long-term effects. We clean deeply with natural plant extracts and we never use synthethic sulfates that strip the natural oils out of your skin and hair.

    %section
      %h3 Our Promise
      %p.lead Sk채bu was founded on the belief that beauty doesn't have to come at the sacrifice of health. We will never use the following ingredients common in the health care industry:
      %ul
        %li.lead Sulfates (linked with skin and scalp irritation by stripping of natural oils)
        %li.lead Parabens (linked with estrogen disruption causing breast cancer and reproductive issues)
        %li.lead Petroleum (clogs pores and stays in the body through skin absorbtion)
        %li.lead Synthetic Fragrances (associated with hair loss, skin irritations, allergic reactions, some have high toxicity levels)
        %li.lead Phthalates (plastic softeners that have been shown to damage liver, kidneys, lungs and reproductive systems through inhalation or skin absorbtion)

    %section
      %h3 Sustainability
      %p.lead Sk채bu is deeply committed to a sustainable manufacturing process to ensure a minimal ecological footprint. All of our products are sourced with sustainable practices and created with sustainable raw materials. We never test on animals. Our 100% vegan formulas are packed in recycled packaging and shipping materials. Most importantly, our manufacturing process is 100% powered by renewable wind energy.
