---
title: Recent Articles
---

.blog-container
  &nbsp;
  - blog.articles.each do |article|
    %article.blog-article
      %a{href: article.url}
        %h1
          = article.title
        %img{src: "/images/articles/thumbs/#{article.data[:cover]}", width: "100%", height: "150px"}
        %p.lead
          = article.data[:lead]
        %span
          Read more...
  &nbsp;
